<article>
  {{ if .page.Params.image }}
  <img src="{{ .page.Params.image }}" style="max-width: 100%">
  {{ end }}
  <h3><a href="{{ .page.RelPermalink }}">{{ .page.Title }}</a></h3>
  <div class="meta">
    {{ if eq .kind "taxonomy" }}
    <div class="portion">
      <i class="fal fa-{{ index .page.Site.Params.sectionSymbol .page.Section }}"></i>
      <div class="date">{{ .page.PublishDate.Format "Jan 2, 2006" }}</div>
    </div>
    {{ else }}
    <div class="date">{{ .page.PublishDate.Format "Jan 2, 2006" }}</div>
    {{ end }}
    {{ if .page.Params.associates }}
    <div class="associates">
      {{ $count := len .page.Params.associates }}
      {{ range first 1 .page.Params.associates }}
      <a href="{{ "/associates/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      {{ if gt $count 1 }}
      +{{ sub $count 1 }}
      {{ end }}
    </div>
    {{ end }}
  </div>
  <p class="description">{{ .page.Description }}</p>
  {{ partial "components/taxonomies.html" .page }}
</article>
