<article>
  {{ if .Params.image }}
  <img src="{{ .Params.image }}" style="max-width: 100%">
  {{ end }}
  <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
  <div class="meta">
    <div class="date">{{ .PublishDate.Format "Jan 2, 2006" }}</div>
    <div class="section">{{ .Section | title }}</div>
    {{ if .Params.associates }}
    <div class="associates">
      {{ $count := len .Params.associates }}
      {{ range first 1 .Params.associates }}
      <a href="{{ "/associates/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      {{ if gt $count 1 }}
      +{{ sub $count 1 }}
      {{ end }}
    </div>
    {{ end }}
  </div>
  <p class="description">{{ .Description }}</p>
  {{ partial "components/taxonomies.html" . }}
</article>
