{{ if gt .Paginator.TotalPages 1 }}
<div class="pagination">
  {{ partial "components/paginatelink.html" (dict "curr" .Paginator "target" "first" "symbol" "chevron-double-left") }}
  {{ partial "components/paginatelink.html" (dict "curr" .Paginator "target" "prev"  "symbol" "chevron-left") }}
  <span class="curr">{{ .Paginator.PageNumber }}</span>
  {{ partial "components/paginatelink.html" (dict "curr" .Paginator "target" "next" "symbol" "chevron-right") }}
  {{ partial "components/paginatelink.html" (dict "curr" .Paginator "target" "last" "symbol" "chevron-double-right") }}
</div>
{{ end }}
