{{ $targets := (dict "first" .curr.First "last" .curr.Last "prev" .curr.Prev "next" .curr.Next) }}
{{ $target  := index $targets .target }}

{{ $num := 1 }}
{{ if $target }}
  {{ $num = $target.PageNumber }}
{{ else if in .symbol "right" }}
  {{ $num = .curr.TotalPages }}
{{ end }}

{{ if and $target (ne .curr $target) }}
<div><a href="{{ $target.URL }}">
{{ else }}
<div class="disabled">
{{ end }}

  {{ if in .symbol "right" }}
  <span>{{ $num }}</span>
  {{ end }}
  <i class="fal fa-fw fa-{{ .symbol }}"></i>
  {{ if in .symbol "left" }}
  <span>{{ $num }}</span>
  {{ end }}

  {{ if and $target (ne .curr $target) }}
  </a>
  {{ end }}
</div>
