{{ define "main" }}

{{ $hasTaxonomies := false }}
{{ range .Site.Taxonomies }}
  {{ if . }}
    {{ $hasTaxonomies = true }}
  {{ end }}
{{ end }}

{{ if $hasTaxonomies }}
  {{ range $term, $vals := .Site.Taxonomies }}
    {{ if $vals }}
    <section id="{{ $term }}">
      <h2><i class="fal fa-{{ index $.Site.Params.taxonomySymbol $term }}"></i> {{ $term | title }}</h2>
      <ul class="tag-group">
        {{ range $key, $pages := $vals }}
        <li>
          <a href="{{ (print $term "/") | relLangURL }}{{ $key | urlize }}">
            {{ $key | humanize | title }} <span>{{ len $pages }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </section>
    {{ end }}
  {{ end }}
{{ else }}
  {{ partial "components/empty" . }}
{{ end }}

{{ end }}
