header {
  margin: 0;
  padding-top: 66px;

  .top, .top a {
    @include display-style;
    color: $accent;
  }

  // .top {
  //   height: 1000px;
  // }

  .header-top {
    margin-bottom: 0.625rem;
  }

  .top {
    @include inline-flex-wrap(0.5em);

    .project-externals {
      @include inline-flex-wrap(0);
    }

    .meta {
      @include inline-flex-wrap(0.25em);
    }
  }

  .title {
    margin-bottom: 0;
    font-size: 0;

    & > * {
      font-size: 2rem;
    }

    svg {
      margin-right: 0.625rem;
    }

    .main-title {
      display: none;
    }
  }

  .subtitle {
    margin: 0;
    font-size: 1.375rem;
  }

  .description {
    margin-top: 0;
    margin-bottom: 0.75rem;
  }

  .associates {
    margin-bottom: 0.5rem;
  }
}
