<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/vendor/sanitize.css">
  <link rel="stylesheet" type="text/css" href="/css/vendor/typography.css">
  <link rel="stylesheet" type="text/css" href="/css/main/main.css">
  <script src="https://kit.fontawesome.com/c6203e764c.js" crossorigin="anonymous"></script>

  {{ $fullTitle := "" }}
  {{ if in (slice "page" "section" "taxonomy") .Kind }}
    {{ $fullTitle = (print (title .Section) " | ") }}
  {{ end }}
  {{ if eq "page" .Kind }}
    {{ $fullTitle = (print .Title " | " $fullTitle) }}
  {{ end }}
  <title>{{ $fullTitle }}{{ .Site.Title }} | {{ .Site.Params.Subtitle }}</title>
</head>
<body>
  {{ partial "base/navbar.html" . }}
  {{ if ne .Kind "page" }}
    {{ partial "base/header.html" . }}
  {{ end }}
  {{ block "main" . }}{{ end }}
  {{ partial "base/footer.html" . }}
</body>
</html>
