<footer id="footer">
  {{ if and (not .IsHome) (or .Site.Params.email .Site.Params.socials) }}
  {{ partial "components/externals" . }}
  {{ end }}

  {{ if $.Site.Params.themeURL }}
  <a href="{{ $.Site.Params.themeURL }}" class="theme-url">
    <div class="git-action">
      {{ partial "atomic/fa" (dict "type" "r" "symbol" "eye") }} Watch It.
    </div>
    <div class="git-action">
      {{ partial "atomic/fa" (dict "type" "r" "symbol" "star") }} Star It.
    </div>
    <div class="git-action">
      {{ partial "atomic/fa" (dict "type" "r" "symbol" "code-branch") }} Fork It.
    </div>
  </a>
  {{ end }}

  {{ if $.Site.Params.footer }}
  <p class="info">
    {{ range $.Site.Params.footer }}
    {{ . | markdownify }}<br/>
    {{ end }}
  </p>
  {{ end }}

  <div class="to-top"><a href="#">{{ partial "atomic/fa" (dict "type" "l" "symbol" "chevron-up") }}</a></div>
</footer>
