<footer id="footer">
  {{ if and (not .IsHome) (or .Site.Params.email .Site.Params.socials) }}
  {{ partial "components/mail.html" . }}
  {{ partial "components/socials.html" . }}
  {{ end }}

  {{ if $.Site.Params.themeURL }}
  <div class="theme-url"><a href="{{ $.Site.Params.themeURL }}">
    <div class="git-action">
      {{ partial "atomic/fa" (dict "type" "l" "symbol" "eye") }} Watch It.
    </div>
    <div class="git-action">
      {{ partial "atomic/fa" (dict "type" "l" "symbol" "star") }} Star It.
    </div>
    <div class="git-action">
      {{ partial "atomic/fa" (dict "type" "l" "symbol" "code-branch") }} Fork It.
    </div>
  </a></div>
  {{ end }}

  {{ if $.Site.Params.footer }}
  <p class="info">
    {{ range $.Site.Params.footer }}
    {{ . | markdownify }}<br/>
    {{ end }}
  </p>
  {{ end }}

  <div class="to-top"><a href="#">{{ partial "atomic/fa" (dict "type" "l" "symbol" "chevron-up") }}</a></div>
</footer>
