<input type="checkbox" id="nav-toggle">
<nav>
  <div class="container">
    <div class="topnav">
      {{ $homeDir := ("/" | relURL) }}
      {{ if .IsHome }}
        {{ $homeDir = "#" }}
      {{ end }}
      <a href="{{ $homeDir }}" class="logo">{{ .Site.Params.logo }}</a>
      <label for="nav-toggle">
        {{ partial "atomic/fa" (dict "type" "l" "symbol" "bars") }}
        {{ partial "atomic/fa" (dict "type" "l" "symbol" "times") }}
      </label>
    </div>
    <div class="shadow"></div>

    <ul>
      {{ if $utilities := .Site.Params.utilities }}
      <li class="utils">
        <ul>
          {{ range $utilities }}
          <li><a href="{{ .url }}">{{ partial "atomic/fa" (dict "type" "l" "symbol" (index $.Site.Params.sectionSymbol .name)) }}</a></li>
          {{ end }}
        </ul>
      </li>
      {{ end }}

      {{ range .Site.Menus.main.ByWeight }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}

      <li>{{ partial "components/externals" . }}</li>
    </ul>
  </div>
</nav>
