<input type="checkbox" id="nav-toggle">
<nav>
  <div class="container">
    <div class="topnav">
      {{ $homeDir := ("/" | relURL) }}
      {{ if .IsHome }}
        {{ $homeDir = "#" }}
      {{ end }}
      <a href="{{ $homeDir }}" class="logo">{{ .Site.Params.logo }}</a>
      <label for="nav-toggle">
        <i class="fal fa-bars"></i>
        <i class="fal fa-times"></i>
      </label>
    </div>
    <div class="shadow"></div>

    <ul>
      {{ if $utilities := .Site.Params.utilities }}
      <li>
        <ul class="utils">
          {{ range $utilities }}
          <li><a href="{{ .url }}"><i class="fal fa-{{ .symbol }}"></i></a></li>
          {{ end }}
        </ul>
      </li>
      {{ end }}

      {{ range .Site.Menus.main.ByWeight }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}

      {{ if or .Site.Params.email .Site.Params.socials }}
      <li>
        <ul class="externals">
          {{ if .Site.Params.email }}
          <li>{{ partial "components/mail.html" . }}</li>
          {{ end }}
          {{ if .Site.Params.socials }}
          <li>{{ partial "components/socials.html" . }}</li>
          {{ end }}
        </ul>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
