@mixin no-spacing {
  margin: 0;
  padding: 0;
}

@mixin inline-flex-wrap($spacing) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: $spacing;
  }
}

@mixin ul-inline-flex-wrap($spacing) {
  list-style: none;
  @include no-spacing;
  @include inline-flex-wrap($spacing);
}


@mixin display-style {
	font-family: $display-font;
	font-weight: 300;
}
