@mixin no-spacing {
  margin: 0;
  padding: 0;
}

@mixin inline-flex-wrap($spacing) {
  display: flex;
  flex-wrap: wrap;

  & > *:not(:last-child) {
    margin-right: $spacing;
  }
}


@mixin display-style {
	font-family: $display-font;
	font-weight: 300;
}
